.background {
  width: 100%;
  min-height: 600px;
  background-size: cover;
  background-position: right;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 80px 80px 120px 80px;
  box-sizing: border-box;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
}
