.icons {
  display: flex;
  gap: 32px;
  margin: 32px 0 7% 5%;
}
.iconBtn {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(1); 
  font-size: 48px;
}
.iconBtn:hover {
  transform: scale(1.05);
}
