body,
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #013047;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main {
  flex: 1;
  width: 1224px;
  margin: auto;
}
.page::selection {
  background: rgba(0, 73, 95, 0.2);
  opacity: 30%;
}
@media (max-width: 700px) {
  .page {
    padding: 0;
  }
}
.lessonHeader {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 0 30px;
  gap: 0;
}